# --- MATIKAN SEMUA AUTO-SETUP ---
ADVANCED_MODE=false
AUTO_SC_WALLET=false
AUTO_WHITELIST=false
AUTO_IDENTITY=false

# --- PENGATURAN GAME ---
ROOM_MODE=free
LOG_LEVEL=DEBUG
WEB_PORT=8080

# --- KREDENSIAL AKUN EXISTING ---
# Masukkan API Key asli dari dashboard Otooong
API_KEY=mr_live_ttNyEM_LBHo-x-yJaSEfpqUbyLmFAftU